Java/Odawa/web/WEB-INF/wsdl/localhost_51140/OdawaService.svc.xsd_xsd0.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://tempuri.org/"><xs:import schemaLocation="http://localhost:51140/OdawaService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BU.Entities"/><xs:element name="GetAllTypeCuisine"><xs:complexType><xs:sequence/></xs:complexType></xs:element><xs:element name="GetAllTypeCuisineResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetAllTypeCuisineResult" nillable="true" type="q1:ArrayOfTypeCuisine" xmlns:q1="http://schemas.datacontract.org/2004/07/BU.Entities"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetTypeCuisine"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="id" type="xs:int"/></xs:sequence></xs:complexType></xs:element><xs:element name="GetTypeCuisineResponse"><xs:complexType><xs:sequence><xs:element minOccurs="0" name="GetTypeCuisineResult" nillable="true" type="q2:TypeCuisine" xmlns:q2="http://schemas.datacontract.org/2004/07/BU.Entities"/></xs:sequence></xs:complexType></xs:element></xs:schema>