Java/Odawa/src/conf/xml-resources/web-service-references/OdawaService/wsdl/localhost_51140/OdawaService.svc.xsd_xsd2.xsd

<?xml version="1.0" encoding="utf-8"?><xs:schema elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BU.Entities" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://schemas.datacontract.org/2004/07/BU.Entities"><xs:complexType name="ArrayOfTypeCuisine"><xs:sequence><xs:element minOccurs="0" maxOccurs="unbounded" name="TypeCuisine" nillable="true" type="tns:TypeCuisine"/></xs:sequence></xs:complexType><xs:element name="ArrayOfTypeCuisine" nillable="true" type="tns:ArrayOfTypeCuisine"/><xs:complexType name="TypeCuisine"><xs:sequence><xs:element minOccurs="0" name="id" type="xs:int"/><xs:element minOccurs="0" name="type" nillable="true" type="xs:string"/></xs:sequence></xs:complexType><xs:element name="TypeCuisine" nillable="true" type="tns:TypeCuisine"/></xs:schema>